
.box_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.contacto {
    height: 10vh;
}